html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.accordion-panel {
	display: none;
	background-color: orangered;

}

h1{
	background-color: orangered;
	text-align: center;
	font-family:'Courier New', Courier, monospace;
	font-size: 50px;
}

.tab-panel.active {
	display: block;

}

ul.accordion {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

button.accordion-control {
	background-color:burlywood;
	width: 20%;
	margin : 0 auto;
	padding: 10px;
	display: block;
	height: 60;
	text-decoration: underline;
	font-size: 18px;

}

.accordion-panel {
	display: none;
	border: 3px solid black;
	width: 18%;
	margin: 0 auto;
	padding: 10px;
	font-size: 15px;
}

ul.tab-list {
    padding-inline-start: 0px;
}

ul.tab-list li {
	padding: 10px;
	border: 3px solid black;
	display: inline-block;
}

a:link {
	text-decoration: none;
	color: black;

}

ul.tab-list li.active {
	background-color: burlywood;
	width: auto;
}

ul.tab-list li.active a {
	color: orangered;
	font-size: 25px;
	text-decoration: underline;
	
}

.tab-panel {
	display: none;
	padding: 100px;
	border: 5px solid black;
  	margin: 0 auto;
	width: 100px;
	height: 80px;
}

.tab-panel.active {
	display: block;
	background-color: orangered;
}

P{
	font-size: 18px;
}

footer{
	text-align: center;
	text-decoration: underline;
}